<div class="card">
  <div class="card-header bg-primary text-white">
    {{title}}
  </div>
  <div>
    <div class="form-check">
      <input class="form-check-input" (change)="toggleFormat()" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Formato1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" (change)="toggleFormat()" type="radio" name="exampleRadios" id="exampleRadios2"
        value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Formato2
      </label>
    </div>

  </div>
  <div class="card-block">
    <form class="form">
      <div class="form-group row"> <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
        <div class="col-sm-5"> <input type="text" [(ngModel)]="filterSearch" class="form-control" name="filterDesc"
            id="filterDesc" placeholder="Filter..."> </div> <label class="col-form-label col-sm-5"> Filtrando por:
          {{filterSearch}}</label>
      </div>
    </form>
    <div *ngIf="products && products.length">
      <div class="row headers no-gutters">
        <div class="col-2">
          <button class="btn btn-sm" [ngClass]="{'btn-danger': showImage, 'btn-primary':
      !showImage}" (click)="toggleImage()">
            {{showImage?'Hide':'Show'}} images
          </button>
        </div>
        <div class="col-4">{{headers.desc}}</div>
        <div class="col">{{headers.price}}</div>
        <div class="col">{{headers.avail}}</div>
        <div class="col">{{headers.puntuacion}}</div>
      </div>
      <app-product-item class="row no-gutters" [product]="product" [showImage]="showImage"
        [quieroEstilo1]="quieroEstilo1" [quieroEstilo2]="quieroEstilo2"
        *ngFor="let product of products | productFilter:filterSearch">
      </app-product-item>
    </div>
  </div>
</div>
