#product-item.component.css div:first-child img {
  height: 40px;
  }
  div:not(:first-child) {
  display: flex;
  justify-content: center; flex-direction: column;
  }
  .estilo1{
    color: white;
    background-color: red;
    font-size: 1.5em;
  }
  .estilo2{
    color: yellow;
    background-color: blue;
    font-size: 1.5em;
  }
